<div class="d-flex min-vh-100">
  <app-sidebar
    [isProfessor]="isProfessor"
    [isCoordenador]="isCoordenador"
    [isAdmin]="isAdmin"
    (logoutClicked)="logout()">
  </app-sidebar>

  <!-- Conteúdo principal -->
  <div class="flex-grow-1 p-4 bg-light">
    <h3 class="text-success fw-bold mb-4 text-center">Gerenciar permissões</h3>

    <div class="table-responsive shadow-sm rounded-4">
      <table class="table table-hover align-middle text-center bg-white border rounded-4 overflow-hidden">
        <thead class="table-success">
          <tr>
            <th class="text-start ps-4">Nome</th>
            <th class="text-start">Email</th>
            <th>Aluno</th>
            <th>Professor</th>
            <th>Coordenador</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios" class="border-top">
            <td class="text-start ps-4 fw-semibold">{{ usuario.nome }}</td>
            <td class="text-start">{{ usuario.email }}</td>
            <td>
               <input type="radio"
                  class="form-check-input"
                  name="papel-{{ usuario.id }}"
                  [checked]="temPapel(usuario, 'ROLE_ALUNO')"
                  (change)="onRoleChange(usuario, 'ROLE_ALUNO')">
          </td>
          <td>
            <input type="radio"
                  class="form-check-input"
                  name="papel-{{ usuario.id }}"
                  [checked]="temPapel(usuario, 'ROLE_PROFESSOR')"
                  (change)="onRoleChange(usuario, 'ROLE_PROFESSOR')">
          </td>
          <td>
            <input type="radio"
                  class="form-check-input"
                  name="papel-{{ usuario.id }}"
                  [checked]="temPapel(usuario, 'ROLE_COORDENADOR')"
                  (change)="onRoleChange(usuario, 'ROLE_COORDENADOR')">
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-alert #alerta></app-alert>

<app-modal-confirmacao
  #modalConfirmPermissao
  [message]="mensagemModalConfirmacao"
  (confirmed)="confirmarAlteracaoStatus()"
  (canceled)="cancelarAlteracaoStatus()">
</app-modal-confirmacao>